@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding-left: 2%;
    
}
* {
    box-sizing: border-box;
    font-family: Raleway;
    color: black;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: rgb(255, 255, 255);

}

.aboutus {
    text-align: center;
    margin: 0;
    padding: 20px;
    -webkit-text-stroke: #453E3B; 
    font-size: 45px;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
    text-decoration: underline;
}
.aboutustwo {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
    width: 600px;
}

.main-header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/about_picture.jpg);
    background-size:cover;
    height: 60vh;
    background-attachment: fixed;
    padding-top: 60px;
}
.main-nav {
    padding: 5px;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}
.main-nav ul {
    margin: 0;
}

.main-nav li {
    display: inline;
    padding: 5px;
}

.main-nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid whitesmoke;
}

.main-nav {
    padding: 5px;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

.main-nav li:hover {
    background-color: rgb(93, 93, 93);
}


.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

h1{
    text-align: center;
    margin: 0 auto; 
    width:250px;
    color: black;
}

.main-footer {  
    background: hsla(32, 6%, 45%, 1);

    background: linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    background: -moz-linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    background: -webkit-linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7B746C", endColorstr="#696561", GradientType=1 );
    color: white;
    padding: .25em 0;
}



.sectionOne {
    width: 1200px;
    height: 300px;
    margin: auto;
    margin-bottom: 100px;
}
.sectionOne p{
    color: rgb(60, 60, 60);
    font-size: 25px;
    text-align: center;
    padding: 5px, 10px, 5px, 10px;
}

#imageone {
    float: left;
}

#imagetree {
    border-radius: 44px;
    float: left;
}

.babysoup{
    margin: auto;
    column-gap: 30px;
}


.babysoup img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.imageone img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.arrow img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.babysoup td{
    padding-left: 60px;
    
}
.babysoup th{
    padding-left: 60px;
}

#line td {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid black;
}



.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 50px;
    height: auto;
}
