body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(wet.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;    

}

h2{
    text-align: center;
    margin: 0 auto; 
    width:250px;
    color: azure;
}

#loginSignUp input {
  margin: 5px;
}

.Signup {
  padding: 10px;
  background-color: rgb(183, 101, 0);
  position: relative;
  display: inline-block;
  width: 50%;
  height: 300px;
}

.loginSection{
  padding: 10px;
  background-color: rgb(255, 140, 0);
  position: relative;
  display: inline-block;
  width: 50%;
  height: 300px;
}