body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(wet.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;    
}

h2{
    text-align: center;
    margin: 0 auto; 
    width:250px;
    color: azure;
}

.Signup {
  position: relative;
  display: inline-block;
}

.loginSection{
  position: relative;
  display: inline-block;
}