body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(wet.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;    

}


.managerLoginSection{
  padding: 10px;
  background-color: rgb(255, 140, 0);
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin-top: 10%;
  margin-right:auto;
}