@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: hsla(33, 94%, 88%, 1);

    background: radial-gradient(circle, hsla(33, 94%, 88%, 1) 0%, hsla(33, 50%, 79%, 1) 68%);
    
    background: -moz-radial-gradient(circle, hsla(33, 94%, 88%, 1) 0%, hsla(33, 50%, 79%, 1) 68%);
    
    background: -webkit-radial-gradient(circle, hsla(33, 94%, 88%, 1) 0%, hsla(33, 50%, 79%, 1) 68%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FDE2C2", endColorstr="#E4CCAE", GradientType=1 );
}

.nav {
    background: hsla(32, 6%, 45%, 1);

    background: linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    background: -moz-linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    background: -webkit-linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7B746C", endColorstr="#696561", GradientType=1 );
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
    background: hsla(32, 6%, 45%, 1);

    background: linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    background: -moz-linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    background: -webkit-linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7B746C", endColorstr="#696561", GradientType=1 );
}

.menu {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.container {
    width: 1000px;
    margin: auto;
    transition: 0.5s
}
.container header {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

.container header .shopping {
    position: relative;
    text-align: right;
}


.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top:50px;
}

.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}

.card h1 {
    color: white;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div{
    background: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut div:nth-child(2){
    background-color: black;
    color: white;
}

.active .card {
    left: 66.1%;
}

.active .container {
    transform: translateX(-200px);
}

.list .item{
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}

.list .item img{
    width: 90%;
}

.list .item .title{
    font-weight: 600;
}

.list .item .price{
    margin: 10px;
}

.list .item button{
    background-color: grey;
    color: white;
    padding: 10px;
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3.1fr);
    color: white;
    row-gap: 10px;
    margin-bottom: 20px;
}

.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}

.listCard button{
    width: auto;
}

.listCard .count{
    margin: 0 10px;
}