@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: black;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: rgb(255, 255, 255);
}

.main-nav ul {
    margin: 0;
}

.main-nav li {
    display: inline;
    padding: 5px;
}

.main-nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid whitesmoke;
}

.main-nav {
    padding: 5px;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

.main-nav li:hover {
    background-color: rgb(93, 93, 93);
}


.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/menu_picture.jpg);
    background-size:cover;
    height: 60vh;
    background-attachment: fixed;
    padding-top: 60px;
}

.menu {
    text-align: center;
    margin: 0;
    padding: 20px;
    -webkit-text-stroke: #453E3B; 
    font-size: 45px;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
    text-decoration: underline;
}


#MenuDrescription{
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.container {
    width: 1000px;
    margin: auto;
    transition: 0.5s
}
.container header {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

.container header .shopping {
    position: relative;
    text-align: right;
}

header .shopping img{
    width: 30px;
    border-radius: 70%;
}

header .shopping img:hover{
    background-color:bisque ;
}

header .shopping span{
    background-color: red;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: -5px;
    left: 80%;
    padding:3px 10px; 
}





.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top:50px;
}

.card {
    position:fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
    overflow-y: scroll;
}

.card h1 {
    color: white;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div{
    background: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut div:nth-child(2){
    background-color: black;
    color: white;
}

.active .card {
    left: 66.1%;
}

.active .container {
    transform: translateX(-200px);
}

.list .item{
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}

.list .item img{
    width: 40%;
}

.list .item .title{
    font-weight: 600;
}

.list .item .price{
    margin: 10px;
}

.list .item button{
    background-color: grey;
    color: white;
    padding: 10px;
}

.list .item button:hover {
    background-color: #fff9;
    color: black;
    cursor: pointer;
}

.list .item button:active {
    background-color: rgba(222, 222, 222, 0.6);
}

.listCard{
    overflow-y: scroll;
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: white;
    row-gap: 10px;
    margin-bottom: 20px;
}

.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 40%;
}

.listCard button{
    width: auto;
}

.listCard .count{
    margin: 0 10px;
}

.main-footer {  
    background: hsla(32, 6%, 45%, 1);

    background: linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    background: -moz-linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    background: -webkit-linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7B746C", endColorstr="#696561", GradientType=1 );
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    color:transparent;
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}