@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
.head {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/frontpagestorefront.png);
    background-size:cover;
    height: 100vh;
    background-attachment: fixed;
    padding-top: 60px;
  }
  .head img{
    margin:0 0 0 0;
  }

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: #ffffff;
}

.main-nav ul {
    margin: 0;
}

.main-nav li {
    display: inline;
    padding: 5px;
}

.main-nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid whitesmoke;
}

.main-nav {
    padding: 5px;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

.main-nav li:hover {
    background-color: rgb(93, 93, 93);
}


.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.sectionprog {
    padding-top: 10px;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    width: fit-content;
    border: 5px solid #743f11;
    margin-bottom: 40px;

}
.sectionprog th {
    padding: 10px;
    font-size:60px;
    color: #351900;
}

.sectionprog td{
    color: #582900 ;
    padding: 5px;
}
.sectionprog th:nth-child(2){
    border-left: 2px solid #351900;
    border-right: 2px solid #351900;
}

.section4 h1 {
    color: #743f11;
    font-size: 60px;
}

.mission {
    width: 1200px;
    height: 300px;
    margin: auto;
    margin-bottom: 40px;
}

.mission h2{
    color: black
}
.mission p{
    color: rgb(60, 60, 60);
    font-size: 25px;
    text-align: center;
    padding: 5px, 10px, 5px, 10px;
}

.menu {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.section5 th img{
max-width:100px;
}

p1{
    margin: 10 00 0; 
    float: inline-start;
    padding-left: 2%;
    font-size: xx-large;
}


.form
{
    background-color: white;
    opacity: 0.89;
}

.form h2
{
    text-align: center;
    padding-top: 20px;
}

#mudtest{

    float: left;
}



.form-box
{
    position: absolute;
    width: 50%;
    height: 420px;
    margin-top: -855px;
    margin-left: 50%;
}  
.form-box .send
{
    text-align: center;
}

.form-box p {
    color: black;
}
.form-box p2 {
    color: black;
}

.input
{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.form p
{
    display: inline;
}



#welcomeusername {
    display: inline-block;
    color: rgb(205, 205, 205);
    font-size: 25px;
}
#welcome {
    color: white;
    font-size: 30px;
    display: inline-block;
}

.section5 table {
    margin: auto;
}

.section5 th {
    height: 170px;
    width: 300px;
    background-color: rgb(203, 175, 140);
    border: 2px solid black;
    border-radius: 44px;
}

.section5 th:hover {
    background-size: 50%;
}

#firstimage {
    background-image: url(images/menu_picture.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

#firstimage:hover{
    background-size: 110%;    
}
#secondimage {
    background-image: url(images/merch_picture.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

#secondimage:hover{
    background-size: 110%;
}


#thirdimage {
    background-image: url(images/about_picture.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
#thirdimage:hover{
    background-size: 110%;
}
.section5 td{
    margin: 30px;
}

.section5 h1 {
    font-size: 25px;
    color: #351900;
}

.secondhead {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/mud_cuterie.png);
    background-size:cover;
    height: 60vh;
    background-attachment: fixed;
    padding-top: 60px;
    margin-bottom: 80px;
}

.secondhead h1{
    color: #c15a01;
    font-size: 45px;
}
.secondhead h3{
    color: #e8c4a4;
    font-size: 75px;
}

.mission{
    padding-bottom: 70%;
}

.main-footer {  
    background: hsla(32, 6%, 45%, 1);

    background: linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    background: -moz-linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    background: -webkit-linear-gradient(90deg, hsla(32, 6%, 45%, 1) 0%, hsla(30, 4%, 40%, 1) 13%, hsla(0, 3%, 28%, 1) 85%, hsla(0, 6%, 28%, 1) 99%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7B746C", endColorstr="#696561", GradientType=1 );
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}