@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
.head {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/frontpagestorefront.png);
    background-size:cover;
    height: 100vh;
    background-attachment: fixed;
    padding-top: 60px;
  }
  .head img{
    margin:0 0 0 0;
  }

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: hsla(33, 94%, 88%, 1);

    background: hsla(33, 84%, 80%, 1);

    background: radial-gradient(circle, hsla(33, 84%, 80%, 1) 8%, hsla(33, 80%, 81%, 1) 28%, hsla(33, 83%, 77%, 1) 52%, hsla(33, 42%, 71%, 1) 87%);
    
    background: -moz-radial-gradient(circle, hsla(33, 84%, 80%, 1) 8%, hsla(33, 80%, 81%, 1) 28%, hsla(33, 83%, 77%, 1) 52%, hsla(33, 42%, 71%, 1) 87%);
    
    background: -webkit-radial-gradient(circle, hsla(33, 84%, 80%, 1) 8%, hsla(33, 80%, 81%, 1) 28%, hsla(33, 83%, 77%, 1) 52%, hsla(33, 42%, 71%, 1) 87%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7D1A2", endColorstr="#F5D1A6", GradientType=1 );
}

.main-nav ul {
    margin: 0;
}

.main-nav li {
    display: inline;
    padding: 5px;
}

.main-nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.main-nav {
    padding: 5px;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

.main-nav li:hover {
    background-color: rgb(93, 93, 93);
}


.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.sectionprog {
    padding-top: 10px;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    width: fit-content;
    border: 5px solid #743f11;
    margin-bottom: 40px;

}
.sectionprog th {
    padding: 10px;
    font-size:60px;
    color: #351900;
}

.sectionprog td{
    color: #582900 ;
    padding: 5px;
}
.sectionprog th:nth-child(2){
    border-left: 2px solid #351900;
    border-right: 2px solid #351900;
}

.section4 h1 {
    color: #743f11;
    font-size: 60px;
}

.mission {
    width: 1200px;
    height: 300px;
    margin: auto;
    background-color:lightgrey;
    margin-bottom: 40px;
    border: 2px solid black;
}

.mission h2{
    color: black
}
.mission p{
    color: rgb(60, 60, 60);
    font-size: 25px;
    text-align: left;
    padding: 5px, 10px, 5px, 10px;
}

.menu {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.section5 th img{
max-width:100px;
}

p1{
    margin: 10 00 0; 
    float: inline-start;
    padding-left: 2%;
    font-size: xx-large;
}


.form
{
    background-color: white;
    opacity: 0.89;
}

.form h2
{
    text-align: center;
    padding-top: 20px;
}

.form-box
{
    position: absolute;
    width: 50%;
    height: 420px;
    margin-top: -855px;
    margin-left: 50%;
}  
.form-box .send
{
    text-align: center;
}

.form-box p {
    color: black;
}
.form-box p2 {
    color: black;
}

.input
{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.form p
{
    display: inline;
}

#welcomeuser {
    color: white;
    padding-left: 100px;
}
#welcomeusername {
    display: inline-block;
}